# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environments
.env/
venv/

dataset/

# Ignore Node.js dependencies
Frontend/node_modules/

# Ignore any log files
*.log

# Ignore the Frontend directory
Frontend/.env
